*{
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
.head{
    width: 150vw;
    height:25vw;
    margin-left: -25vw;
    margin-top: -10vw;
    z-index: 1;
    position: absolute;
}
.headc{
    margin-top: 2.5vw;
    color: white;
    font-size: 6vw;
    z-index: 2;  
    position: relative;
    text-align: center;
}
.body{
    width: 100vw;
    height:100vh;
    z-index: 0;
    position: absolute;   
}
body{
    height: 100vh;
    width: 100vw
}
.hiddenelemtstogame{
    display: none;
    z-index: 0;
}
.mainbody{
    z-index: 1;
    position: relative;
    width: 80vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
}